*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#navBar{
    display: flex;
    justify-content: space-between;
    /* border: solid 2px black; */
    padding:2% 1%;
    align-items: center;
    /* gap:3%; */
    background-color: rgb(208, 230, 248);
}

#navItems{
    display: flex;
    width: 50%;
} 

.navItem{
    font-size: larger;
    text-decoration: none;
    padding: 0.5% 2%;
    font-weight: bold;
}

.navItem:hover{
    border: 1px transparent white;
    background-color: white;
}
